body{
    display : flex;
    justify-content: center;
    align-items: center;
    background: url(img/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    display: flex;
}

button {
    margin-left: 1em;
    border-radius: 10px;
}
input {
    border-radius: 10px;
    margin-left: 1em;
}
footer {
    position: fixed; 
    left: 0; bottom: 0; 
    width: 100%; 
    display : flex;
    justify-content: center;
    align-items: center;
    background: #3967b5;
    padding: 10px;
    color: white;
} 